/* Set a style for the submit/register button */
.commonBtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.commonBtn:hover {
  opacity: 1;
}

.commonBtn:disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: #c0c0c0;
}
