/* Full-width input fields */
.textInput,
.passwordInput {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.textInput:focus,
.passwordInput:focus {
  background-color: #ddd;
  outline: none;
}
